<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
  <div>
    <% if action_name == "home" %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo_blanc.png", width: "200px", class: 'logo-birdy' %>
      <% end %>
      <%= image_tag "birdy_blanc.png", width: "100px", class: 'logo' %>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png", width: "200px", class: 'logo-birdy' %>
      <% end %>
      <%= image_tag "name.png", width: "100px", class: 'logo' %>
    <% end %>
  </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Expériences", missions_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Communauté", "#", class: "nav-link" %>
          </li>
        </ul>
    </div>
    <div>
      <%# <ul>
          <li class="nav-item dropdown"> %>
          <%# <i class="fa-solid fa-magnifying-glass"></i> %>

          <%# MENE A LA WISHLIST %>
          <%= link_to  dashboards_path(favori: true), class: "pe-2", style: "text-decoration: none;" do %>
            <i class="fa-regular fa-heart"></i>
          <% end %>

            <%= image_tag "bird-avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%#= link_to "Mon profil", myprofile_path, class: "dropdown-item" %>
              <%= link_to "Tableau de bord", dashboards_path, class: "dropdown-item" %>
              <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          <%# </li> %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
