<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <div class="row col-4">
      <div>
        <% if action_name == "home" %>
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo_blanc.png", width: "200px", class: 'logo-birdy' %>
          <% end %>
          <%= image_tag "birdy_blanc.png", width: "100px", class: 'logo' %>
        <% elsif action_name == "show" %>
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo.png", width: "200px", class: 'logo-birdy' %>
          <% end %>
          <%= image_tag "name.png", width: "100px", class: 'logo' %>
        <% else %>
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo.png", width: "200px", class: 'logo-birdy' %>
          <% end %>
          <%= image_tag "name.png", width: "100px", class: 'logo' %>
        <% end %>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="row col-4">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto d-flex justify-content-center text-center w-100">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Expériences", missions_path , class: "nav-link px-3" %>
            </li>
            <li class="nav-item">
              <%= link_to "Communauté", dashboards_path(chat: true), class: "nav-link px-3" %>
            </li>
        </ul>
      </div>
    </div>

  <div class="row col-4">
    <div class="d-flex justify-content-end align-items-center">
        <%= link_to  dashboards_path(favori: true), class: "pe-2 me-2", style: "text-decoration: none;" do %>
          <i id="top-heart" class="fa-regular fa-heart heart-size" style="color: <%= current_user.has_favorites? ? 'red' : 'black' %>"></i>
        <% end %>

          <%= image_tag "#{current_user&.category&.name || 'poussin'}.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <p class="text-center" style= "color: black;margin-bottom: 0,5em;border-bottom: 1px solid black;padding-bottom: inherit;">Bonjour <%= current_user.name %> !</p>
            <%= link_to "Tableau de bord", dashboards_path, class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  </div>
</div>
