<div class="row">
  <div class="background_dash">
    <div class="d-flex justify-content-center mt-5" >
      <%= image_tag("#{current_user.category.name}.jpg", :size => "200x200", class:"image_poussin")  %>
    </div>
  </div>
  <div class=" presentation text-center">
    <h2> Bonjour <%= current_user.name %> !</h2>
    <h6 classe="localisation">Paris, France</h6>
    <ul>
      <li><span classe="chiffre">18</span> Publications</li>
      <li><span classe="chiffre">3</span> Abonnés</li>
      <li><span classe="chiffre">6</span> Abonnements</li>
    </ul>
  </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= 'active' unless params[:booking] || params[:favori] || params[:chat] %>" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" style= "margin-bottom: 0px;">  <div> <%= image_tag "logo.png", height: "40px", width: "50px", class: 'logo' %> </div> Mon profil</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= 'active' if params[:booking] %>" id="booking-tab" data-bs-toggle="tab" data-bs-target="#booking-tab-pane" type="button" role="tab" aria-controls="booking-tab-pane" aria-selected="true" style= "margin-bottom: 0px;"> <div><%= image_tag "appointment.png", width: "40px", class: 'logo' %></div>Mes réservations</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= 'active' if params[:favori] %>" id="favori-tab" data-bs-toggle="tab" data-bs-target="#favori-tab-pane" type="button" role="tab" aria-controls="favori-tab-pane" aria-selected="true" style= "margin-bottom: 0px;"> <div><%= image_tag "heart.png", width: "40px", class: 'logo' %></div>Mes favoris</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= 'active' if params[:chat] %>" id="commu-tab" data-bs-toggle="tab" data-bs-target="#commu-tab-pane" type="button" role="tab" aria-controls="commu-tab-pane" aria-selected="false"> <div><%= image_tag "community.png", width: "40px", class: 'logo' %></div>Communauté</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="mes-missions-tab" data-bs-toggle="tab" data-bs-target="#mes-missions-tab-pane" type="button" role="tab" aria-controls="mes-missions-tab-pane" aria-selected="false"><div><%= image_tag "chat.png", width: "40px", class: 'logo' %></div>Mes discussions</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade <%= 'show active' unless params[:booking] || params[:favori] || params[:chat] %>" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <div class="container">
      <h2 class="text-center mt-5"><strong>Mon statut :</strong> <%= current_user.category.display_name %></h2>
    </div>

    <div>
      <h2 class="text-center mt-4"><strong>Mes plumes :</strong> 33 </h2>
    </div>

    <div>
      <p class="text-center mt-4 mb-5"><em>Plus que 7 plumes</em> pour profiter de réductions sur votre prochain voyage !</p>
    </div>

    <div class="container text-center mb-5">
    <!-- Button trigger modal -->
      <button class="button-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Compléter mon profil
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog large">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel">
              <strong>Compléter votre profil voyageur pour découvrir nos suggestions d’aventures sur-mesure !</strong>
            </h5>
            <button type="button" class="button" data-bs-dismiss="modal" aria-label="Close"> x </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for :change, url: change_category_path, method: :patch do |f|  %>
              <%= f.input :category,
              collection: Category.all,
              as: :radio_buttons,
              input_html: {class: 'category-selector'},
              label_method: lambda { |category| render 'pages/category_label', category: category } %>
              <%= f.submit "Découvrir mes aventures !", class:"button"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-5">
      <div class="row align-items-center justify-content-around">
        <button class="birdy-tag" id="bouton-un">
          Lève-tôt
        </button>
        <button class="birdy-tag" id="bouton-deux">
          Rando
        </button>
        <button class="birdy-tag" id="bouton-trois">
          Fin gourmet
        </button>
        <button class="birdy-tag" id="bouton-quatre">
          Protecteur des animaux
        </button>
      </div>
    </div>
  </div>

  <div class="tab-pane fade <%= 'show active' if params[:booking] %>" id="booking-tab-pane" role="tabpanel" aria-labelledby="booking-tab" tabindex="0">
    <div class="container">
      <%# <h2>Vos réservations</h2> %>
      <div style= "width:400px">
        <h6 class="title1 mt-4"><strong>Expériences à venir</strong></h6>

        <% @future_bookings.each do |booking| %>
          <%= render 'missions/mission_card', mission: booking.mission, booking: booking %>
          <%= link_to(booking.mission.title, chatroom_path(booking.chatrooms.first)) %>
        <% end %>

        <h6 class="title2 mt-4"><strong>Expériences passées</strong></h6>
        <% @past_bookings.each do |booking| %>
          <%= render 'missions/mission_card', mission: booking.mission, booking: booking %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="tab-pane fade <%= 'show active' if params[:favori] %>" id="favori-tab-pane"role="tabpanel" aria-labelledby="favori-tab" tabindex="0">
      <div class="container-index mb-5" data-controller="favorites">
        <% current_user.favorite_missions.each do |mission|%>
          <div class="card-index my-2 mx-2">
        <div class= "card-index-image">
            <i class="fa-solid fa-heart coeur_favoris d-flex <%= Favorite.find_by(user: current_user, mission: mission) ? 'fav-red' : 'fav-black' %> " data-action="click->favorites#fav" data-favorites-mission-id-param="<%= mission.id %>"></i>
            <img src="<%= mission.img%>" alt="mission_img" class="card-img-top">
        </div>
        <div class="card-index-bot mx-2">
          <div class="card-index-text">
            <h3 class="text-left"><%= link_to mission.title, mission_path(mission) %></h3>
            <%# mission.categories.uniq.each do |cat| %>
            <%#= cat.display_name %>
            <%# end %>
          </div>
          <div class="card-index-price d-flex justify-content-between card-index-price-index">
            <div class="d-flex justify-content-center align-items-flex-start">
            <div class="d-flex align-items-start flex-column">
              <div>
                <% mission.tags.first(1).each do |tag| %>
                  <div class="badge bg-secondary tag-name-card-index"><%= tag.name %></div>
                <% end %>
              </div>
              <div>
                <% mission.tags.last(1).each do |tag| %>
                  <div class="badge bg-secondary tag-name-card-index"><%= tag.name %></div>
                <% end %>
              </div>
            </div>
            </div>
            <div></div>
            <div class="d-flex flex-column align-items-end">
              <div class="mt-auto">
                <p class="card-index-p"><%= mission.duration%></p>
                <h4 class="card-index-h4"><%= mission.price%>€</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade <%= 'show active' if params[:chat] %>" id="commu-tab-pane" role="tabpanel" aria-labelledby="commu-tab" tabindex="0">
    <div class="text-center mt-5">
      Ces birdies ont les mêmes centres d’intérêts que vous. Discutez avec eux !
    </div>
    <div class="container-index">
      <% @users.each do |user| %>
        <% unless user == current_user %>
          <%= link_to chatrooms_path(params: { user_id: user.id }), data: { turbo_method: :post } do %>
            <div class="card-bird my-2 mx-2">
              <div>
                <%= image_tag("#{user.category.name}.jpg",:size => "150x150", :style => "margin-bottom:25px" )%>
              </div>
              <div style= "text-align: center">
                <p><strong><%=user.name.capitalize%></strong></p>
                <p><%= user.category.name.capitalize %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="mes-missions-tab-pane" role="tabpanel" aria-labelledby="mes-missions-tab" tabindex="0">
    <div class="container">
      <% current_user.owned_missions.each do |mission|%>
        <% if mission.chatrooms.first %>
          <%= link_to(mission.title, mission_path(mission)) %>
          <%#= link_to(mission.title, chatroom_path(mission.chatrooms.first)) %>
        <% end %>
      <% end%>
    </div>
  </div>
</div>
