<!--<div class="banner" style="background-image: url('<%= image_path "couple_jungle.jpg" %>')">-->
<div class="banner video-wrapper">
  <video src="https://www.doublesens.fr//img/video/capsule-video.mp4" id="capsule-video" muted playsinline autoplay loop width="100%"></video>
  <div class="container w-50" id="banner-text">
    <h2 class="text-center">Des expériences mémorables, <br><em>des actions qui ont du sens</em></h2>
    <%= form_with url: missions_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control me-3 w-75", placeholder: "Je veux aller à..." %>
      <%= submit_tag "C'est parti !", class: "btn btn-primary btn-search" %>
    <% end %>
  </div>
</div>


<div class="container" style="margin-top: 60px;margin-bottom: 50px;font-size: 26px;">
  <div class="title-birdy">
    <h2><strong>Les voyages approuvés par les Birdies</strong></h2>
  </div>

  <div class="cards container-index">
    <% @missions.sample(3).each do |mission|%>
      <div class="card-index my-2 mx-2">
        <div class="card-index-image">
          <img src="<%= mission.img%>" alt="mission_img" class="card-img-top">
            <div class="card-index-bot mx-2">
              <div class="card-index-text">
                <div>
                  <h3 class="text-left"><%= link_to mission.title, mission_path(mission) %></h3>
                </div>
                <div class="card-index-price d-flex justify-content-between">
                <div></div>
                  <div class="d-flex flex-column align-items-end">
                    <div class="mt-auto">
                      <p><%= mission.duration%></p>
                      <h4><%= mission.price%>€</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    <% end%>
  </div>
</div>

<div class="d-flex justify-content-center mt-5 mb-5">
  <button>
    <%= link_to "Nos expériences", missions_path %>
  </button>
</div>

<div class="birdy-carousel text-center mt-5 mb-5">
  <div class="row">
    <div class="col align-self-center birdy-experiences">
      <h2>Nos birdies ont adoré leurs expériences</h2>
      <%= image_tag "logo.png", width: "40px", class: 'logo' %>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <div>
                <p class="text-center w-100">Mes amis et moi avons eu l'occasion de vivre les voyages les plus incroyables et les plus marquants de notre vie. <br>Je recommande vivement ce site, merci Birdy !!</p>
                <div class="rating-stars">
                  <ul>
                    <li><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></li>
                  </ul>
                </div>
              </div>
          </div>
          <div class="carousel-item">
            <div>
              <p class="text-center w-100"> Une expérience unique et mémorable, des souvenirs pleins la tête. Merci Birdy ☺️
              </p>
              <div class="rating-stars">
                <ul>
                  <li><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div>
              <p class="text-center w-100">Il est si facile de trouver des expériences incroyables et authentiques partagées par des locaux tout en ayant un impact. <br>Validé par toute la famille !</p>
              <div class="rating-stars">
                <ul>
                  <li><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="arguements text-center mt-5 mb-5">
  <div class="container why-choose-us">
    <h1>Pourquoi nous choisir?</h1>
    <h2>Voyagez en toute confiance</h2>
    <ul>
      <div>
        <div class="mb-3">
          <%= image_tag "map.png", width: "50px", class: 'logo' %>
        </div>
        <li>Expériences authentiques</li>
      </div>
      <div>
        <div class="mb-3">
          <%= image_tag "tree.png", width: "50px", class: 'logo' %>
        </div>
        <li>Une action concrète pour la planète</li>
      </div>
      <div>
        <div class="mb-3">
          <%= image_tag "community.png", width: "50px", class: 'logo' %>
        </div>
        <li>95% de satisfaction</li>
      </div>
      <div>
        <div class="mb-3">
          <%= image_tag "wallet.png", width: "50px", class: 'logo' %>
        </div>
        <li>Paiements sécurisés</li>
      </div>
    </ul>
  </div>
</div>

<div class="trip_exemples">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="trip-ex-left">
          <h2>Le voyage d'une vie</h2>
          <h1>Des expériences sur-mesure</h1>
          <p>Chaque voyage nourrit de vraies rencontres. On ne visite pas seulement un pays, on le vit !
          Les échanges sont au cœur de l’expérience pour que chacun participe à la vie locale.
          On quitte ses repères pour se contenter de l’essentiel, renouer avec la nature et partager le quotidien d’une communauté.</p>
          <button class=trip-ex-left-btn>
            <%= link_to "Trouver mon voyage", root_path %>
          </button>
        </div>
      </div>

      <div class="col-8">
        <div class="carousel-photo">
          <div class="row mx-auto my-auto justify-content-center">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <%= image_tag "asian_children.jpg"%>
              </div>
              <div class="carousel-item">
                <%= image_tag "make_change.jpg"%>
              </div>
              <div class="carousel-item ">
                <%= image_tag "smiling_boy.jpg"%>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
