<div class="card-product">
  <%= cl_image_tag(mission.photo.key) %>
  <div class="card-product-infos p-3 d-flex justify-content-between align-items-center w-100">
    <div>
      <h2><%= mission.title %></h2>
      <p class="m-0"><%= booking.start_date %> | <%= booking.end_date %></p>
    </div>
    <div class="notification-actions d-flex">
      <%=link_to "âœï¸", mission_path(mission), class:"me-2" %>
      <%=link_to "ðŸ—‘", booking_path(booking),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </div>
  </div>
</div>
