  <div class="cards container-index">
      <div class="card-index my-2 mx-2">
        <div class="card-index-image">
          <img src="<%= mission.img%>" alt="mission_img" class="card-img-top">
            <div class="card-index-bot mx-2">
              <div class="card-index-text">
                <div class="card-index-text-left">
                  <h3 class="text-left"><%= link_to mission.title, mission_path(mission) %></h3>
                  <p style="margin: 13px 0 0 0">Du <%= booking.start_date %></p>
                  <p>Au <%= booking.end_date %></p>
                  <div class="notification-actions d-flex">

                  <%= link_to mission_path(mission, booking: booking), class: 'image-link' do %>
                    <%= image_tag "pencil.png" %>
                  <% end %>

                  <%= link_to booking_path(booking), class: 'image-link', data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <%= image_tag "bin.png" %>
                  <% end %>

                  </div>
                </div>
                <div class="card-index-price d-flex justify-content-between">
                  <div class="d-flex flex-column align-items-end">
                    <div class="mt-auto" style="width: 66px">
                      <p><%= mission.duration%></p>
                      <h4><%= mission.price%>€</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
  <div style="height: 20px">
  </div>
