<div class="background_dash">
</div>

<div class="container-index" data-controller="favorites">
 <%# <div class="row my-5">  %>
  <% @missions.each do |mission|  %>
    <div class="card-index my-2 mx-2">
      <div class= "card-index-image">
          <i class="fa-solid fa-heart coeur_favoris d-flex<%= Favorite.find_by(user: current_user, mission: mission) ? 'fav-red' : 'fav-black' %> " data-action="click->favorites#fav" data-favorites-mission-id-param="<%= mission.id %>"></i>
          <img src="<%= mission.img%>" alt="mission_img" class="card-img-top">
      </div>
      <div class="card-index-bot mx-2">
        <div class="card-index-text">
          <h3 class="text-left"><%= link_to mission.title, mission_path(mission) %></h3>
          <%# <p class= "text-align-justify text-ellipsis--2 pt-2"><%=mission.description</p> %>
        </div>
        <div class="card-index-price d-flex justify-content-between">
          <div></div>
          <div class="d-flex flex-column align-items-end">
            <div class="mt-auto">
              <p><%= mission.duration%></p>
              <h4><%= mission.price%>€ hors aérien</h4>
            </div>
          </div>
        </div>
        <% mission.tags.each do |tag| %>
          <div class="badge bg-secondary"><%= tag.name %></div>
        <% end %>
        <% mission.categories.each do |category| %>
          <div class="badge bg-primary"><%= category.name %></div>
        <% end %>
      </div>
    </div>
  <%end%>
  <%# </div> %>
</div>

<div class='main-container-emprunte-carbone'>
  <div class="card-emprunte-carbon text-center">
    <h4>Je voyage responsable!</h4>
    <h2>👣Calculer mon empreinte carbone</h2>
    <h5>Découvez la quantité de CO2 que vous émettez par personne pour ce trajet</h5>
  </div>
</div>

<div class="mt-2">
  <script id="mon-impact-transport" src="https://monimpacttransport.fr/iframe.js" data-search="?theme=default"></script>
</div>

<div class="container d-flex justify-content">
  <div class="left-flex-missions w-50 my-5">
  <div class="accordion" id="accordionPanelsStayOpenExample">
  <% i = 1 %>
  <% @countries.sort.each do |country| %>
      <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading<%="#{i}"%>">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%="#{i}"%>" aria-expanded="true" aria-controls="#panelsStayOpen-collapse<%="#{i}"%>">
        <%= country %>
      </button>
    </h2>
    <div id="panelsStayOpen-collapse<%="#{i}"%>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%="#{i}"%>">
      <div class="accordion-body">
      <ul>
        <% Mission.where(address: country).each do |mission| %>
          <li><%= mission.title %></li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
    <% i += 1 %>
    <% end %>
    </div>
  </div>
  <div class="right-flex-missions w-50 my-5">
    <div style="width: 100%; height: 1060px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
