<div class="container">
  <div class="text-center mt-2">
    <h1>INDEX DES MISSIONS </h1>
  </div>

  <div>
    <% @missions.each do |mission|  %>
    <%= link_to mission.title, mission_path(mission) %>
    <p><%= mission.description %></p>
    <p><%= mission.price %> € </p>
      <% mission.tags.each do |tag| %>
      <div class="badge bg-secondary"><%= tag.name %></div>
      <% end %>
      <% mission.categories.each do |category| %>
      <div class="badge bg-primary"><%= category.name %></div>
      <% end %>
    <% end %>
  </div>

  <div class="mt-2">
    <script id="mon-impact-transport" src="https://api.monimpacttransport.fr/iframe.js" data-search="?theme=default"></script>
  </div>

</div>
<div class="d-flex">
  <div class="left-flex-missions w-50"></div>
  <div class="right-flex-missions w-50">
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
