<%# banner de la show %>
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))<%= @mission.img %>">
</div>

<%# balise <u> pour souligner %>
<h1 class="text-center mt-2"><%= @mission.title%> <u><%= @mission.duration %></u> </h1>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p> <strong>Description</strong>
      <br>
      <%= @mission.description %></p>
    </div>

    <%# div pour l'image map %>
    <div class="height 100px">
    <%= image_tag @mission.jour_par_jour_img %>
    </div>

    <div class="form col-sm-4 mt-2 sticky">
      <h2>Réserver votre voyage</h2>
      <div data-controller="flatpickr">
        <%= simple_form_for [@mission, @booking], html: { data: { controller: 'flatpickr' } } do |f| %>
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-center">
              <%= f.input :start_date, label: 'from', as: :string, input_html: { data: { flatpickr_target: 'startDateInput' } } %>
              <%= f.input :end_date, label: 'to', as: :string, input_html: { data: { flatpickr_target: 'endDateInput', } } %>
            </div>
            <%= f.submit 'Book now!', class: 'btn btn-primary align-self-center' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Itinéraire par Jour</a>
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-8"></div>
        </div>
      </div>
    </li>
    <li>
      <a href="#" class="tab-underlined">Expérience</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Impact Local</a>
    </li>
      <li>
      <a href="#" class="tab-underlined">Infos Voyage</a>
    </li>
  </ul>
</div>
