<%# banner de la show %>
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))<%= @mission.img %>">
</div>

<%# balise <u> pour souligner %>

<div class="container">
  <div class="row" id="top-description">
    <div class="col-sm-8">
      <h1 class=" tabs text-left mt-2"><%= @mission.title%> <u><%= @mission.duration %></u> </h1>
      <%= @mission.description %></p>
    </div>

    <div class="form col-sm-4 mt-2 sticky" id="formulaire">
      <h2>Réserver votre voyage</h2>
      <div data-controller="flatpickr">
        <%= simple_form_for [@mission, @booking], html: { data: { controller: 'flatpickr' } } do |f| %>
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-center">
              <%= f.input :start_date, label: 'Date de début', placeholder: 'Début', as: :string, input_html: { data: { flatpickr_target: 'startDateInput' } } %>
              <%= f.input :end_date, label: 'Date de fin', placeholder: 'Fin',as: :string, input_html: { data: { flatpickr_target: 'endDateInput', } } %>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <h5>Prix par personne </h5>
                <h5>(hors aérien):</h5>
              </div>
              <div>
                <h5><%= @mission.price%>€</h5>
              </div>
            </div>
            <%= f.submit 'Book now!', class: 'btn btn-primary align-self-center my-3' %>
          </div>
        <% end %>
      </div>
    </div>

</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item tabs-underlined" role="presentation">
    <button class="nav-link tab-underlined active" id="itineraire-tab" data-bs-toggle="tab" data-bs-target="#itineraire" type="button" role="tab" aria-controls="itineraire" aria-selected="true">Itinéraire Jour par Jour</button>
  </li>
  <li class="nav-item tabs-underlined" role="presentation">
    <button class="nav-link tab-underlined" id="experience-tab" data-bs-toggle="tab" data-bs-target="#experience" type="button" role="tab" aria-controls="experience" aria-selected="false">Expérience</button>
  </li>
  <li class="nav-item tabs-underlined" role="impact">
    <button class="nav-link tab-underlined" id="impact-tab" data-bs-toggle="tab" data-bs-target="#impact" type="button" role="tab" aria-controls="impact" aria-selected="false">Impact Local</button>
  </li>
    <li class="nav-item tabs-underlined" role="infos-voyage">
    <button class="nav-link tab-underlined" id="infos-voyage-tab" data-bs-toggle="tab" data-bs-target="#infos-voyage" type="button" role="tab" aria-controls="infos-voyage" aria-selected="false">Infos Voyage</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active jour_par_jour_text" id="itineraire" role="tabpanel" aria-labelledby="itineraire-tab">
    <p><%= @mission.jour_par_jour_text.html_safe %></p>
  </div>

  <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
    <div class="d-flex flex-column py-3 px-5">
      <div class="d-flex py-3">
        <%= image_tag @mission.experience_img1, width: "300px" %>
        <div class="d-flex flex-column ps-4 experience">
          <h3><%= @mission.experience_title1 %></h3>
          <p><%= @mission.experience_detail1 %></p>
        </div>
      </div>
      <div class="d-flex py-3">
        <%= image_tag @mission.experience_img2, width: "300px" %>
        <div class="d-flex flex-column ps-4 experience">
          <h3><%= @mission.experience_title2 %></h3>
          <p><%= @mission.experience_detail2 %></p>
        </div>
      </div>
      <div class="d-flex py-3">
        <%= image_tag @mission.experience_img3, width: "300px" %>
        <div class="d-flex flex-column ps-4 experience">
          <h3><%= @mission.experience_title3 %></h3>
          <p><%= @mission.experience_detail3 %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="impact" role="tabpanel" aria-labelledby="impact-tab">
    <p><%= @mission.impact_local_text.html_safe %></p>
  </div>

    <div class="tab-pane fade" id="infos-voyage" role="tabpanel" aria-labelledby="infos-voyage-tab">
    <h3><%= @mission.infos_voyage_title1 %></h3>
    <p><%= @mission.infos_voyage_text1 %></p>
    <h3><%= @mission.infos_voyage_title2 %></h3>
    <p><%= @mission.infos_voyage_text2 %></p>
    <h3><%= @mission.infos_voyage_title3 %></h3>
    <p><%= @mission.infos_voyage_text3 %></p>
    <h3><%= @mission.infos_voyage_title4 %></h3>
    <p><%= @mission.infos_voyage_text4 %></p>

  </div>
</div>
